<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/customstyles.css" />
    <script src="scripts/script.js" async></script>
    <script src="scripts/filter.js" async></script>
    <script src="scripts/player.js" async></script>
</head>
<body>

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Media Organiser</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
                <a class="nav-link" aria-current="page" href="/upload">Upload media</a>
                <a class="nav-link" href="/playlists">Playlists</a>
                <a class="nav-link" href="/categories">Categories</a>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center mt-4">
    <h2>Sort media by category</h2>
</div>

<div class="d-flex justify-content-center">
    <div th:each="category : ${categoriesList}" style="margin-right: 15px;">
        <input type="checkbox" name="type" th:id="${category}" class="form-check-input filter-check" th:value="${category}">
        <label th:for="${category}" class="form-check-label" th:text="${category}"></label>
    </div>
</div>

<div id="media-player" class="d-flex flex-column align-items-center mt-3">
</div>



<div class="container mt-4">
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <table class="table table-hover" id="media-library-table">
                <h2>Media library</h2>
                <thead>
                <tr>
                    <th scope="col">File name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Comment</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mediaFile : ${mediaFileList}" class="table-rows">
                    <td th:class="${mediaFile.getPath()}" th:data="${mediaFile.getImage()}" scope="row"><span class="file-info" th:text="${mediaFile.getId()}" style="display: none"></span><i class="bi bi-play play-button"></i><span th:text="${mediaFile.getName()}"></span></td>
                    <td class="category-column" th:text="${mediaFile.formatCategories()}"></td>
                    <td th:text="${mediaFile.getComment()}"></td>
                    <td><a th:href="@{'delete-file/' + ${mediaFile.getId()}}"><span style="padding-right: 15px;"><i class="bi bi-trash-fill" style="color: black;"></i></span></a><i class="bi bi-plus add-btn"></i><a th:href="@{'change-details/' + ${mediaFile.getId()}}" style="color: black; margin-left: 5px">Edit</a></li></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 col-md-6">
            <table class="table table-hover">
                <div class="input-group input-group-lg" id="playlist-name-div">
                    <input type="text" placeholder="New playlist name" class="form-control" id="playlist-name" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
                <thead>
                <tr>
                    <th scope="col">File name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Comment</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="playlist-table-body">
                </tbody>
                <tr>
                </tr>
            </table>
            <button id="playlist-save-btn" class="btn btn-light">Save playlist</button>
        </div>

    </div>
</div>
</div>

</body>
</html>